@tailwind base;
@tailwind components;
@tailwind utilities;

.heroBackground {
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 25% 100%);
    position: absolute;
}

.blur-background {
    filter: blur(2px);
  }